<app-header></app-header>

<div align = "center"><br>

  <img style="width:9% " src="http://localhost:4200/assets/Files-Upload/LOGO.png" />
    <h2>
      Employee Management
    </h2> 

    <div> An employee management system is a core part of HR. This article will go over</div>
    <div> the best tools to manage employee records, work history, and other important employee data.</div>
    
 
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" style="width:45% ">
      <source src="http://localhost:4200/assets/Files-Upload/GG.mp4" type="video/mp4">
  

 
 






